*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgray;
    width: 100%;
    padding: 4rem;
}

.tl{
    width: 100%;
    border: white solid 3px;
    position: relative;
    margin: 100px 0;
}

.tl::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: azure;
}

.tl-start{
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    width: 10%;
    font-size: 1em;
    z-index: 10;
}

.tl-date{
    position: relative;
    padding: 30px 30px;
    width: 50%;
    text-align: center;
    border-radius: 6px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.right{
    left: 50%;
}

.right::before{
    position: absolute;
    content: "";
    background-color: azure;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: -15px;
    top: 30%;
}

.left::after{
    position: absolute;
    content: "";
    background-color: azure;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: -25px;
    top: 30%;
}

.container{
    background-color: azure;
    border: solid 3px red;
    display: flex;
    flex-flow: column wrap;
}

.tl-date:last-child{
    margin-bottom: 0;
}

.tl-date h2{
    color: black;
    font-size: 1em;
    font-weight: bolder;
}

.tl-date p{
    font-size: 0.8em;
    font-weight: lighter;
    margin-bottom: 1rem;
}

@media screen and (max-width: 700px){
    .tl-date h2{
        font-size: 0.7rem;
    }
    .tl-date p{
        font-size: 0.7rem;
    }
}