/* DEFAULT RESET CSS  */

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
}

/* ADD OF THE DIFFERENT FONTS */

:root{

    /* color */
    --Dark_blue: #0A2239;
    --White: #ffffff;
    --Black: #080808;
    --kaki: #44633F;
    --GreenB: #6AF6C2;
    --GreenW: #132E32;

    /* Font size */
    --h1: 5rem;
    --h2: 2.5rem;
    --h3: 1.7rem;
    --button: 1.3rem;
    --Text: 1rem;
}

/* CLASS UTILITAIRE */ 

.Hidden{
    transform: translateX(-500px);
}


/*  HEADER */

header{
    background-image: url(../assets/borale.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    box-shadow: var(--kaki) 0 1px 1px;
}

header::after{
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 50%;
    height: 100%;
    background-color: var(--GreenW);
    opacity: 0.8;
    z-index: -1;
}

.nav-btn-open{
    color: var(--GreenB);
    font-size: 2rem;
    cursor: pointer;
    align-self: start;
}

/* NAV VERSION TEL */

nav{
    position: absolute;
    top: 0;
    left: 0;
    padding: 4rem;
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 40px;
    background-color: var(--GreenW);
    height: 100%;
    width: 60%;
    opacity: 1;
    transform: translateX(0px);
    transition: 1s ease-in-out;
}

nav ul{
    display: flex;
    flex-flow: column;
    gap: 20px;
}

nav a{
    color: var(--White);
    font-size: var(--h3);
}

nav a:hover{
    color: var(--GreenB);
}

.nav-btn-close{
    color: var(--GreenB);
    font-size: 3rem;
    cursor: pointer;
    align-self: start;
}

/* LOTTIE STYLE */

lottie-player{
    width: 250px; 
    height: 250px;
    mix-blend-mode:multiply;
}

/* SECTION HOME */

.Home{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* TITLE */

.Home h1{
    font-size: var(--h1);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5rem;
    margin-left: 2.5rem;
    color: var(--White);
    font-weight: lighter;
}

.Home h1 span{
    color: var(--Dark_blue);
}

.Home h1 span:nth-of-type(2){
    color: var(--GreenB);
}

.Home p {
    color: var(--White);
    text-align: center;
    font-size: var(--Text);
}

.Home button{
    background-color: transparent;
    border: var(--GreenB) 3px solid;
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
    font-size: var(--button);
    color: var(--GreenB);
    width: fit-content;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.Home button:hover{
    color: var(--White);
    background-color: var(--GreenB);
}

/* SOCIAL MEDIA ---> HOME */ 

.Home article{
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
}

.Home article a{
    background-color: transparent;
    border: var(--GreenB) solid 3px;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.Home article a:hover{
    transform: scale(1.1);
}

.Home article a i{
    color: var(--GreenB);
    font-size: 1.5rem;
}

/* SECTION ABOUT */

.About_first{
    /* border: solid 2px red; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--GreenW);
}

.About_first div{
    /* border: solid 2px orange; */
    margin: 4rem 0 2rem 0;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.About_first h2{
    position: relative;
    color: var(--GreenB);
    font-size: var(--h2);
    font-weight: bolder;
    text-transform: uppercase;
    width: fit-content;
}

.About_first div span{
    background-color: var(--GreenB);
    width: 80%;
    height: 4px;
}

.About_first p{
    color: var(--White);
    font-size: var(--Text);
    padding: 0 4rem;
    text-align: center;
}

.About_first h3{
    color: var(--GreenB);
    font-size: var(--h3);
    margin: 2rem 0;
    text-transform: uppercase;
}


/* TECHNOLOGIES UTILISEE */

.technologies-group{
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    margin: 1rem 0;
}

.fa-html5{
    color: #e34c26;
    font-size: 4rem;
}

.fa-css3-alt{
    color: rgb(20, 135, 236);
    font-size: 4rem;
}

.fa-js{
    color: yellow;
    font-size: 4rem;
}

.fa-react{
    color: rgb(27, 182, 225);
    font-size: 4rem;
}

/* FRAMEWORK UTILISEE */

.About_first ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    margin-bottom: 4rem;
}

.About_first ul li{
    color: var(--White);
    font-size: var(--h3);
}

/* TIMELINE */

.About_second{
    /* border: solid 2px red; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--GreenW);
    box-shadow: var(--kaki) 0 1px 1px;
}

.timeline-container{
    width: 3%;
    height: 800px;
    background-color: var(--GreenB);
    position: relative;
    /* border: var(--kaki) solid 3px; */
    margin: 10rem 0;
}

.timeline-date-1{
    top: 20%;
    left: 300%;
    width: 175px;
    position: relative;
}

/* Cercle */ 

.timeline-date-1::before{
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 12%;
    left: -46.8%;
    border-radius: 50%;
    background-color: var(--GreenB);
}

.timeline-date-2{
    top: 50%;
    left: -1100%;
    width: fit-content;
}

/* Cercle */ 

.timeline-date-2::before{
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 12%;
    left: 118.4%;
    border-radius: 50%;
    background-color: var(--GreenB);
}

.timeline-date-3{
    top: 80%;
    left: 300%;
    width: 205px;
}

/* Cercle */ 

.timeline-date-3::before{
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 12%;
    left: -40.8%;
    border-radius: 50%;
    background-color: var(--GreenB);
}

.timeline-container article{
    position: absolute;
    display: block;
    color: var(--White);
}

.timeline-container article h4{
    font-size: var(--h2);
    font-weight: bolder;
}

.timeline-container article p{
    font-size: var(--h3);
    font-weight: lighter;
}

.timeline-start{
    background-color: var(--GreenB);
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10%;
    left: -186%;
    padding: 2rem;
}

.timeline-start > span {
    color: var(--Dark_blue);
    font-size: 3.5rem;
    font-weight: bolder;
}


